@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 02");

    var Button = Request.Form["Button"];
    var ArtistName = Request.Form["ArtistName"];
    var artistName = "%" + ArtistName + "%";
    var db = Database.Open("CHINOOK");
    var queryCommand = @"SELECT ArtistId FROM Artists WHERE Name like @0";
    var Results = db.QuerySingle(queryCommand, artistName);

    if (string.IsNullOrEmpty(artistName)) { artistName = ""; }
}

@section banner {
    <h1>@Page.Title</h1>
}

<div>
    @if (IsPost)
    {
        if (Button.Equals("reset"))
        {
            ArtistName = "";
        }
        else
        {
            if (String.IsNullOrEmpty(ArtistName))
            {
                <p>
                    Enter the name of an artist
                </p>
                ArtistName = "";
            }
            else
            {
                if (Results == null)
                {
                    <p><span style="color:blue">No name of artist found of the name: @ArtistName</span></p>
                }
                else
                {
                    Response.Redirect("Exercise02_B.cshtml?artistName=" + artistName);
                }
            }
        }
    }
    <form id="theForm" action="" method="post">
        <div class="row">
            <div class="col-md-3">
                <label id="forArtistName">Enter an Artist Name:</label>
                <input type="text" name="ArtistName" id="ArtistNameID"
                       value="@ArtistName" /><br /><br />
                <button type="submit" name="Button" value="submit">Search</button>&nbsp;&nbsp;
                <button type="submit" name="Button" value="reset">Clear</button>
            </div>

        </div>
    </form>
</div>
